*{
    margin: 0;
    padding:0;
}
.header{
    min-height:100vh;
    width:100%;
    background-image: url(https://github.com/lill-Juvelen/carlos-mario/blob/main/images/cool7111.jpg?raw=true);
    background-position: center;
    background-size: cover;
    position: relative;

}

h1 {
    background-color: rgb(241, 212, 173);
  }
  
  div {
    background-color: rgb(89, 230, 230);
    color: rgb(231, 216, 216);
  }
  
  p {
    background-color: rgb(174, 0, 255);
  }